<div id="main-page" class="center-child full-screen">
    <div id="main-card" class="rounded-raised-card">
        <form class="flex-vertical" formGroup="" novalidate (submit)="onSubmit()">
            <h1 class="primary-text-color">Welcome</h1>
            <h4>Please login to the agriculture management system</h4>
            <label for="username">Username</label>
            <input id="username" type="text" required />
            <label for="password">Password</label>
            <input id="password" type="password" required />
            <button class="btn-primary" type="submit">Login</button>
        </form>
        <img id="right-image" src="assets/field2.jpg" alt="field">
    </div>
</div>
